.st-emotion-cache-fg4pbf {
  background: #0e1117;
  font-family: monospace;
  color: #0e1117;
}

#MainMenu {
  visibility: hidden;
}

footer {
  visibility: hidden;
}

header {
  visibility: hidden;
}
